[Unit]
Description=Carbonio Kafka Service
Documentation=http://kafka.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=15
LimitNOFILE=65536
User=carbonio-queue
Group=carbonio-queue
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh /opt/kafka/config/server.properties
WorkingDirectory=/var/lib/queue/kafka/
Environment="KAFKA_HEAP_OPTS=-Xmx1G -Xms1G"

[Install]
WantedBy=default.target
