log.dirs=/var/lib/queue/kafka/logs
num.partitions=6
num.recovery.threads.per.data.dir=4
offsets.topic.replication.factor=2
transaction.state.log.replication.factor=2
transaction.state.log.min.isr=2
default.replication.factor=2
auto.create.topics.enable=true
group.initial.rebalance.delay.ms=0
log.retention.check.interval.ms=300000
log.retention.hours=168
log.segment.bytes=1073741824
num.io.threads=8
num.network.threads=3
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
socket.send.buffer.bytes=102400
zookeeper.connect=localhost:2181
zookeeper.connection.timeout.ms=18000
broker.id={{ broker_id }}
