global
	maxconn 100
        
defaults
	log global
	mode tcp
	retries 2
	timeout client 30m
	timeout connect 4s
	timeout server 30m
	timeout check 5s

listen stats
	mode http
	bind *:7000
	stats enable
	stats uri /

frontend ldap_service_front
  mode                  tcp
  bind                  *:389
  description           LDAP Service
  option                socket-stats
  option                tcpka
  timeout client        3600s
  default_backend       ldap_service_back

backend ldap_service_back
  server                ldap-1 {{ hostvars[ groups['masterDirectoryServers'][0] ].inventory_hostname }}:389 check fall 1 rise 1 inter 2s
  server                ldap-2 {{ hostvars[ groups['masterDirectoryServers'][1] ].inventory_hostname }}:389 check backup fall 1 rise 1 inter 2s
  mode                  tcp
  balance               roundrobin
  option                tcpka
  option                ldap-check
  timeout server        1800s
  timeout connect       1s

{% if inventory_hostname in groups['dbsConnectorServers'] %}
listen region_one
	bind *:5432
	option httpchk
	http-check expect status 200
	default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    	server {{ hostvars[ groups['postgresServers'][0] ].inventory_hostname }} {{ hostvars[ groups['postgresServers'][0] ].ansible_default_ipv4.address }}:5432 maxconn 80 check port 8008
    	server {{ hostvars[ groups['postgresServers'][1] ].inventory_hostname }} {{ hostvars[ groups['postgresServers'][1] ].ansible_default_ipv4.address }}:5432 maxconn 80 check port 8008
{% endif %}


