tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/queue/zookeeper/
clientPort=2181
admin.serverPort=18080
{% for host in groups["zookeeper_servers"] %}
server.{{ hostvars[host].zookeeper_id }}={{host}}:2888:3888
{% endfor %}